.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #434343;
  color: white;
  justify-content: center;
}

input{
  background: transparent;
  color: white;
  border: none;
  padding: 0 10px;
  font-size: 20px;
  border-bottom: 3px solid #545454;
}

.tip{
  color: #767676;
  font-size: 14px;
}

.karnaught{
  margin: 40px auto 0;
}
.karnaught td{
  padding: 10px;
  border: 1px solid white;
}
.karnaught tr:first-of-type td:first-of-type{
  padding: 0;

}
.karnaught tr:first-of-type td:first-of-type span{
  display: block;

}
.karnaught tr:first-of-type td:first-of-type span.top{
  text-align: right;

}
.karnaught tr:first-of-type td:first-of-type span.bottom{
  text-align: left;

}
.karnaught tr:first-of-type td:first-of-type{
  background-image: linear-gradient(to bottom left,  transparent calc(50% - 1px), white, transparent calc(50% + 1px));
}